
<!DOCTYPE html>
<html lang="en">
<head>
<title>Document</title>
</head>
<body>
  <main>
    <section id="container">
      <% allCities.forEach(city => { %>
        <div class="city-info">
          <h3> <%= city.name; %> </h3>
          <img src= <%= city.image_url %>>
          <p> <%= city.description %></p>
        </div>
      <% }); %>
    </section>
  </main>
</body>
</html>