<footer>
  <div>
    <img src="/public/Assets/FB.png" class="footer-social">
    <img src="/public/Assets/GH-round.png" class="footer-social">
    <img src="/public/Assets/IG.png" class="footer-social">
    <img src="/public/Assets/LI-round.png" class="footer-social">
  </div>
</footer> 
</html>
