<footer>
  <div>
    <img src="../Assets/FB.png" class="footer-social">
    <img src="../Assets/GH-round.png" class="footer-social">
    <img src="../Assets/IG.png" class="footer-social">
    <img src="../Assets/LI-round.png" class="footer-social">
  </div>
</footer> 
</html>
