  <header>
    <nav id = "nav-bar">
      <ul id = "nav_ul">
        <li><a class="navigation" href="/">Searches</a></li>
        <li><a class="navigation" href="/favorites">Favorites</a></li>
        <li><a class="navigation" href="/about">About Us</a></li>
      </ul>
    </nav>
  </header>

