<!DOCTYPE html>
<html lang="en">
<%- include('../pages/head.ejs') %>
  <body>
    <%- include('../pages/header.ejs') %>
        <div class="mission-wrapper">
            <div class="mission">
                <img src = "/Assets/logo_final2.png">
            </div>
        </div>
        <div class='city-search'>
            <div class='city-button'>
                <form class="form-potato" action="/search/result" method="POST">

                    <input type="text" name="city_name" required onfocus="this.value=''" value="Type a city name">
                    <input type="submit" name="index-button">
                </form>
            </div>
        </div>
        <div class="top-rated">
            <div class="city-1">
                <p class="title-1">Helsinki, Finland</p>
                <img class="helsinki" src="/Assets/helsinki.jpg" alt="">
                <div class="p-1container">
                    <p class="paragraph-1">Helsinki is the Capital of Finland commonly rated among the top places to
                        live in Europe. It's low crime rate, strong social rights and wide range of activities appeal to
                        a
                        large number of people. Maybe this could be your next home!
                    </p>
                </div>
            </div>
            <div class="city-2">
                <p class="title-2">Austin, TX</p>
                <img class="austin" src="/Assets/austin.jpeg" alt="">
                <div class="p-2container">
                    <p class="paragraph-2">Not only is Austin the Capital of Texas, it’s also consistently voted the
                        best
                        city to live in the U.S. Affordability, job prospects and quality of life measurements bring
                        Austin
                        to the top. There are so many tech companies that it has been nicknamed “Silicon Hills”. If tech
                        isn’t your thing, the thriving music seen has something for everyone. </p>
                </div>
            </div>
            <div class="city-3">
                <p class="title-3">Kuala Lumpur, Malaysia</p>
                <img class="kuala-lumpur" src="/Assets/kuala.png" alt="">
                <div class="p-3container">
                    <p class="paragraph-3">Kuala Lumpur is the capital of Malaysia. It is known for its vast selection
                        of
                        international cuisine, friendly people, and a large English-speaking population. Often compared
                        to
                        Singapore, Kuala Lumpur offers a much lower cost of living. While in the city be sure and visit
                        Petronas Twin Towers comprised of two 88-storey chrome and steel towers that are joined at the
                        41st
                        and 42nd floors. </p>
                </div>
            </div>
            <div class="city-4">
                <p class="title-4">Budapest, Hungary</p>
                <img class="budapest" src="/Assets/Budapest.jpg" alt="">
                <div class="p-4container">
                    <p class="paragraph-4">This beautiful city boasts a population of 10million right on the Danube
                        River. They have extensive public transport that covers the entirety of the capital. The city is
                        full of culture like St. Stephen’s Basilica which accommodates 8,500 people and is topped with a
                        300ft dome. The official language is Hungarian but much of the population also speaks English
                        and German. As a plus, Hungary has a modern healthcare system. You might think this city is
                        expensive however, the cost of living is 52.2% lower than New York City.</p>
                </div>

            </div>
        </div>
        <%- include('../pages/footer.ejs') %>
    </body>
</html>

