

body {
  width: 100%;
  margin: 0 auto;
  background-color: #ccdad1;
  box-sizing: border-box;
}


nav {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #9caea9;
}

header {
  height: 50px;
  width: 100%;
  background-color: #9CAEA9;
  margin-bottom: 30px;
}



footer {
  display: flex;
  justify-content: center;
  width: 1300px;
  height: 150px;
  margin: 0 auto;
  padding: 20px;
  background-color: #9caea9;
}

.footer-social {
  height: 40px;
  width: auto;
}

/* JOB SEARCH CSS */

.hero-image {
  width: 950px;
  height: 450px;
  display: block;
  justify-content: center;
  margin: auto;
}
.show-city {
  text-align: center;
  padding: 20px;
  height: 50px;
}
.hero-grid {
  height: 550px;
}
.job-description1,
.job-description2,
.job-description3,
.job-description4,
.job-description5 {
  height: 500px;
  margin: 10px;
  padding: 10px;
  border-color: black;
  border-style: solid;
  border-width: medium;
  border-radius: 10px;
}
.job-grid {
  display: grid;
  height: 700px;
  width: 97%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  text-align: center;
}
