/* ABOUT US */
body {
  width: 100%;
  margin: 0 auto;
  background-color: #CCDAD1;
}

header {
  height: 100px;
  width: 1300px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  display: flex;
  justify-content: center;
}
ul{
  width: 1300px;
  display: flex;
  justify-content: space-evenly;
  background-color: #9CAEA9;
}
ul:hover{
  background-color: #6F6866;
}
li {
  display: inline;
  justify-content: space-evenly;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  font-family: 'Baloo 2', cursive;
}
.navigation {
  text-decoration-color:  #38302E;
}

main {
  width: 1300px;
  margin: 0 auto;
}

h1{
  display: flex;
  justify-content: center;
  font-family: 'Fira Sans', sans-serif;
  font-size: xx-large;
  padding: 40px;
}
img {
  border-radius: 5px;
  width: 400px;
  height: 400px;
}

h2 {
  padding: 10px;
  font-size: 34px;
  font-family: 'Baloo 2', cursive
}
p {
  padding: 10px;
  font-family: 'Fira Sans', sans-serif;
}

.center{
  display: flex;
  justify-content: center;
}
.card-container {
  height: 400px;
  width: 400px;
  margin: 30px;
  perspective: 600;
  position: relative;
  justify-content: center;
  display: flex;
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
  border-radius: 10px;
  border: thick #38302E solid;
  display: flex;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.card .back {
  transform: rotateY(180deg);
  background-color: #9CAEA9;
}
.connect {
  margin-top: 140px;
  margin-left: 10px;
}
.authors-social{
  height: 30px;
  width: auto;
  margin-top: -70px;
}

footer {
  display: flex;
  justify-content: center;
  width: 1300px;
  height: 150px;
  margin: 0 auto;
  padding: 20px;
  background-color: #9CAEA9;
}

.footer-social {
  height: 40px;
  width: auto;
}

/* JOB SEARCH CSS */

.hero-image {
  width: 950px;
  height: 450px;
  display: block;
  justify-content: center;
  margin: auto;
}
.show-city{
  text-align: center;
  padding: 20px;
  height: 50px;
}
.hero-grid {
  height: 550px;
}
.job-description1,.job-description2, .job-description3, .job-description4, .job-description5{
  height: 500px;
  margin: 10px;
  padding: 10px;
  border-color: black;
  border-style: solid;
  border-width: medium;
  border-radius: 10px;
}
.job-grid {
  display: grid;
  height: 700px;
  width: 97%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  text-align: center;
}
