

body {
  width: 100%;
  margin: 0 auto;
  background-color: #CCDAD1;
  box-sizing: border-box;
}



nav {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
ul{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #9CAEA9;
}

header {
  height: 50px;
  width: 100%;
  background-color: #9CAEA9;
  margin-bottom: 30px;
}









footer {
  display: flex;
  justify-content: center;
  width: 1300px;
  height: 150px;
  margin: 0 auto;
  padding: 20px;
  background-color: #9CAEA9;
}

.footer-social {
  height: 40px;
  width: auto;
}