<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Book APP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
  </head>
  <header>
  <nav>
    <ul>
      <li>
        <a href="/">HOME </a>
      </li>
      <li>
        <a href="/">SEARCH</a>
      </li>
      <li>
        <a href="/pages/favorites">SAVED PLACES</a>
      </li>
    </ul>
  </nav>
</header>