.mission-wrapper {
  display: grid;
  height: 250px;
  width: 600px;
  border: 5px solid black;
  margin: auto;
  
}
.city-search {
  border: 5px solid black;
  
  
}
.form-potato {
  align-content: center;
  justify-content: center;
  display: flex;
  margin-bottom: 25px;
  margin-top: 15px;
  
}
.top-rated {
  display: grid;
  height: 450px;
  width: 97%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  text-align: center;
  border: 5px solid black
}

/* details page */

.scores-list{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  border: 7px double  #39603D;
  padding: 30px 70px;
  line-height: 1.5em;
  background-color:#f3eded;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 18px;
}

.details-div{
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #DADED4;
}

.details-div img{
  width: 420px;
  margin: 20px 0;
  border: 2px solid #3C403D;
  box-shadow: 5px 5px 10px rgb(83, 83, 83);
}
.details-div h2{
font-size: 35px;
text-transform: capitalize;
letter-spacing: 0.1em;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.details-div h3{
  margin-top: 25px;
  font-size: 22px;
  border-bottom: 3px solid #3C403D;
  border-top: 3px solid #3C403D;
  padding: 15px;
}

.details-div p{
  width: 700px;
  text-align: center;
  font-size: 20px;
  line-height: 1.2em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.scores-li{
  font-size: 20px;
  color: #39603D;
  font-family: fantasy;
  font-weight: bold;
}

#save-city {
  width: 200px;
  padding: 20px;
  border-radius: 12px;
  margin: 20px auto;
  font-size: 20px;
  background-color:  #39603D;
  box-shadow: 5px 5px 10px rgb(83, 83, 83);
  color: #f3eded;
  font-weight: 700;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

#save-city:hover{
  background-color: #A3BCB6;
  color: #3C403D;
}

#save-city:active{
  width: 195px;
}

.line{
  height: 10px;
  width: 100%;
  background-color: rgba(168, 168, 168, 0.89);
}

#job-search{
  padding: 30px;
}

input[name="job_query"]{
  width: 250px;
  height: 40px;
  background-color: #f3f0f0;
  border-radius: 12px;
  border: 3px solid  #496773;
  margin-bottom: 20px;
  margin-top: 15px;
  font-size: 13px;
}

input[name='submit']{
  width: 150px;
  height: 50px;
  border-radius: 12px;
  margin-left: 20px;
  font-size: 20px;
  background-color:  #39603D;
  box-shadow: 5px 5px 10px rgb(83, 83, 83);
  color: #f3eded;
  font-weight: 700;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: linear;
}


