.helsinki {
  height: 200px;
  width: 250px;
  border-radius: 75px;
}

.austin {
  height: 200px;
  width: 250px;
  border-radius: 75px;
}

.kuala-lumpur{
  height: 200px;
  width: 250px;
  border-radius: 75px;
}

.budapest{
  height: 200px;
  width: 250px;
  border-radius: 75px;
}

.title-1 {
  font-weight: bolder;
  font-size: 24px;
  margin-bottom: 5px;
}

.title-2 {
  font-weight: bolder;
  font-size: 24px;
  margin-bottom: 5px;
}
.title-3 {
  font-weight: bolder;
  font-size: 21px;
  margin-bottom: 8px;
}
.title-4 {
  font-weight: bolder;
  font-size: 24px;
  margin-bottom: 5px;
}
.paragraph-4 {
  width: 260px;
  padding-left: 27px ;
  font-weight: bold;
  
}

.paragraph-3 {
  width: 260px;
  padding-left: 27px ;
  font-weight: bold;
}

.paragraph-2 {
  width: 260px;
  padding-left: 27px ;
  font-weight: bold;
}

.paragraph-1 {
  width: 260px;
  padding-left: 27px ;
  font-weight: bold;
}

.city-1 {
  background-image: url(/Assets/blue.jpg);
    
}

.city-2 {
  background-image: url(/Assets/pink.jpg);
}

.city-3 {
  background-image: url(/Assets/green.jpg);
}

.city-4 {
  background-image: url(/Assets/yellow.jpg);
}

.p-4container {
  display: flex;
  text-align: center;
  padding-left: 25px;
  padding-top: 10px;
  
}

.p-3container {
  display: flex;
  text-align: center;
  padding-left: 25px;
  padding-top: 10px;
}

.p-2container {
  display: flex;
  text-align: center;
  padding-left: 25px;
  padding-top: 10px;
}

.p-1container {
  display: flex;
  text-align: center;
  padding-left: 25px;
  padding-top: 10px;
}

.favorites div {
  margin: 10px;
  padding: 10px;
  background-color: #9CAEA9;
  border-color: black;
  width: 20%;
  height: 380px;
  border: solid;
  border-color: black;
}
.favorites h2 {
  margin: 5px;
  padding: 5px;
  font-size: 22px;
  text-transform: capitalize;
}
.favorites p {
  height: 75px;
  margin: 5px;
  padding: 5px;
  overflow: scroll;
  border: dotted;
  border-color: black;
}
.favorites img {
  height: 200px;
}
